# Python Fundamentals

## Python Notebooks

Python notebooks provide an interactive environment for code experimentation, visualization, and publication of results.

The boxes below are called **cells** and they can contain code or formatted text (Markdown).

## Variables in Python

A **variable** is what Python uses to store certain information of interest (e.g. text, numbers, Booleans, etc.)

Each variable has a name so that we can easily refer to it. Python takes into account whether we write the variable in uppercase or lowercase (e.g. `a` and `A` are considered different!). We can define variables in Python as follows:

```python
# Assigning a value
variable = value
# Assigning multiple values
variable1, variable2 = value1, value2
```

Python will automatically determine the most appropriate data type for a variable based on what value is being assigned to it. For example, if we write `a = 5` then Python will make `a` of type `int` (integer).

### Numbers

There are two main numerical types in Python, `int` (integers) and `float` (floats). The decimal separator is the period:

```python
integer_ = 2
float_ = 2.5
```

### Text

Variables that store text are of type `str` (strings). They generally must be enclosed in single or double quotes. If the text that is being assigned spans multiple lines, then it must be enclosed in triple quotes:

```python
string = "Hello"
string = 'Hello'
multiline = """Hello
                 World"""
multiline = '''Hello
                 World'''
```

### Lists

**Lists** are ordered sets of elements (e.g. numbers, text, lists, etc). They are delimited by square brackets (`[]`), and different elements are separated by commas:

```python
listNumbers = [1,2,3]
StringList = ['a', 'b', 'c']
listLists = [[1,2], [3,4], [5,6]]
mixedList = [1, 'Group', [1,2,3,4]]
emptylist = []
```

Lists are **dynamic**; i.e. they are mutable. For example, we can modify `StringList` aboove by reassigning it to the set `['d', 'e', 'f']`.

### Tuples

**Tuples** are also ordered sets of elements. Tuples are represented by writing the elements between parentheses (`()`), separated by commas:

```python
tupleNumbers = (1,2,3)
tupleStrings = ('a', 'b', 'c')
tupleLists = ([1,2], [3,4], [5,6])
mixedTuple = (1, 'Group', [1,2,3,4])
```

Unlike lists, tuples are **static** and cannot be modified once created.

### Question:

How are tuples different from lists?

### Dictionaries

**Dictionaries** are sets of elements where each element can be identified by a unique **key**:

```python
dictNumbers = {'k1': 1, 'k2': 2}
dictStrings = {'k1': 'a', 'k2': 'b', 'k3': 'c'}
dictLists = {'k1': [1,2], 'k2': [3,4], 'k3': [5,6]}
mixedDict = {'k1': 1, 'k2': 'Group', 'k3': [1,2,3,4]}
```

### Boolean

A **Boolean** variable is a variable that can only take two possible values: `True` or `False`:

```python
true = true
false = False
```

### None

This is the data type that in other languages is known as Null (NaN). In Python it is called `NoneType`:

```python
null = None
```

## Other useful features

### The `print` function

The command `print(<variable>)` prints the value of the variable. You'll see plenty of examples of this coming up in the next section.

### Comments

**Comments** are an essential part of good code. They allow you to concisely explain the key features & purpose of your code. Inline comments can be defined with `#`:

In [ ]:
# Declaring an integer (int)
x = 2
print("It is an integer: ", x)

It is an integer:  2

In [ ]:
# Declaring a float
y = 2.5
print("It is a float: ", y)

It is a float:  2.5

In [ ]:
# Declaring a text string
message = "Hello world"
print(message, "Group")

Hello world Group

In [ ]:
# Multiline text string
multiline = """Hello 
                World"""
print(multiline, " Group")

Hello
                World  Group

In [ ]:
multiline

'Hello \n                World'

In [ ]:
# Declaring a list
numberList = [1,2,3]
print(numberList)
stringList = ['a','b','c']
print(stringList)
listList = [[1,2],[3,4],[5,6]]
print(listList)
mixList = [1,'Grupo',[1,2,3,4]]
print(mixList)
emptyList = []
print(emptyList)

[1, 2, 3]
['a', 'b', 'c']
[[1, 2], [3, 4], [5, 6]]
[1, 'Grupo', [1, 2, 3, 4]]
[]

In [ ]:
# Declaring a Tuple
numberTuple = (1,2,3)
print(numberTuple)
stringTuple = ('a','b','c')
print(stringTuple)
listsTuple = ([1,2],[3,4],[5,6])
print(listsTuple)
mixTuple = (1,'Group',[1,2,3,4])
print(mixTuple)

(1, 2, 3)
('a', 'b', 'c')
([1, 2], [3, 4], [5, 6])
(1, 'Group', [1, 2, 3, 4])

In [ ]:
# Declaring dictionaries
dictNumbers = {'k1':1,'k2':2}
print(dictNumbers)
dictLetters = {'k1':'a','k2':'b','k3':'c'}
print(dictLetters)
dictLists = {'k1':[1,2],'k2':[3,4],'k3':[5,6]}
print(dictLists)
dictMixed = {'k1':1,'k2':'Group','k3':[1,2,3,4]}
print(dictMixed)

{'k1': 1, 'k2': 2}
{'k1': 'a', 'k2': 'b', 'k3': 'c'}
{'k1': [1, 2], 'k2': [3, 4], 'k3': [5, 6]}
{'k1': 1, 'k2': 'Group', 'k3': [1, 2, 3, 4]}

In [ ]:
# Declaring booleans
true = True
false = False

In [ ]:
# Declaring nulls
null = None

In [ ]:
# Multiple assignments
var1, var2, var3 = (5 + 4), "Sara", [13, 17, 23]
print("var1 =", var1 )
print("var2 =", var2 )
print("var3 =", var3 )

var1 = 9
var2 = Sara
var3 = [13, 17, 23]

In [ ]:
# Exchanging the values of two variables
var1, var2 = var2, var1 

print("var1 =", var1)
print("var2 =", var2)

var1 = Sara
var2 = 9

In [ ]:
# Create a tuple with variables
tupleVars = var1, var2, var3
print(tupleVars)

('Sara', 9, [13, 17, 23])

In [ ]:
# Assign values from a tuple to variables
x1, x2, x3 = tupleVars

print("x1 =", x1, "x2 =", x2, "x3 =", x3)

x1 = Sara x2 = 9 x3 = [13, 17, 23]

### Determining data types

To know the data type of a variable, use the method `type`:

```python
type(x)
```

In [ ]:
print(x)
type(x)

2

int

In [ ]:
print(y)
type(y)

2.5

float

In [ ]:
type(message)

str

In [ ]:
type(numberList)

list

In [ ]:
type(listsTuple)

tuple

In [ ]:
type(dictLetters)

dict

In [ ]:
type(true)

bool

In [ ]:
type(null)

NoneType

## Basic operations

### Arithmetic operators

**Arithmetic operators** allow you to perform calculations using Python variables:

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | exponentiation |
| ~   | negation |

Python will perform the operations differently depending on the type of data:

In [ ]:
# Addition and subtraction
print(5 + 5)
print(5 - 5)

10
0

In [ ]:
# Multiplication and division
print(3 * 5)
print(10 / 2)

15
5.0

In [ ]:
# Exponentiation and modulus
print(4 ** 2)
print(18 % 7)

16
4

In [ ]:
# String operations
message1 = "Hello "
message2 = "Group"
print(message1 + message2)

Hello Group

In [ ]:
# String operations
message1 = "Hello "
print(message1*2)

Hello Hello

In [ ]:
print(true + false)

1

In [ ]:
print(1 + 2.5)

3.5

### Relational operators

**Relational operators** allow you to compare Python variables:

| Symbol | Task Performed |
|----|---|
| == | True, if values are equal |
| is | True, if identical, i.e. the **same** object  |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |
| in  | test pertenence to a collection (list, set, dictionary) |

In [ ]:
x == 2

True

In [ ]:
x != 2

False

In [ ]:
x > 1

True

In [ ]:
numberList

[1, 2, 3]

In [ ]:
numberList == [1,2,3]

True

In [ ]:
numberList is [1,2,3]

False

In [ ]:
object = numberList

In [ ]:
numberList is object

True

In [ ]:
null is None

True

### Conversions between types

Python allows you to explicitly convert variables of one type to another. This is called **casting**:

```python
int(<variable>)
float(<variable>)
str(<variable>)
bool(<variable>)
list(<variable>)
tuple(<variable>)
dict(<variable>)
```

In [ ]:
# Convert List to Tuple
print(stringList)
print(type(stringList))
print(tuple(stringList))
print(type(tuple(stringList)))

['a', 'b', 'c']
<class 'list'>
('a', 'b', 'c')
<class 'tuple'>

In [ ]:
# Convert from string to integer
print('123')
print(type('123'))
print(int('123'))
print(type(int('123')))

123
<class 'str'>
123
<class 'int'>

In [ ]:
float("Juan")

ValueError: could not convert string to float: 'Juan'

## Built-in functions

A **function** is a block of code with an associated name, which receives zero or more arguments as input, follows a series of instructions, and returns a value or performs a task.

Python has a series of [built-in](https://docs.python.org/3/library/functions.html) functions integrated into the language. Examples of these functions were given just earlier, such as converting data types and printing.

In [ ]:
# Enter value by keyboard
input1 = int(input("Please enter an integer:"))
print(input1**2)

Please enter an integer:502
252004

In [ ]:
# Absolute value of a number
print(abs(-1))

1

### Exercise 1:

Run the next 3 cells and infer what the built-in `round()` function does with one or two arguments.

In [ ]:
round( -4.78 )

-5

In [ ]:
round( -3.141516297, 4 )

-3.1415

In [ ]:
round( -3.141516297, 5 )

-3.14152

### Exercise 2:


From the [built-in](https://docs.python.org/3/library/functions.html) page, read up on how to use the `min()` and `max()` functions. Then:

- Create a list with the values 42, 17 and 68
- Using the `min()` function, print the minimum value
- Using the `max()` function, print the maximum value

In [ ]:
# Your code ...

### Additional help

Python has the `help()` and `?` operators, which return a description of the function we wish to know more about:

In [ ]:
#help(range)

In [ ]:
?range

### Exercise 3:

Use the built-in `range()` function and pass the parameters `(1, 100, 5)` to it, then convert the result to a list and print it. What is the result?

In [ ]:
# Your code ...

## Variables deep-dive

### Handling strings

**IMPORTANT:** Strings can be defined with either a double quote ("...") or a single quote ('...'), but the two syntaxes do exactly the same thing!

In [ ]:
'Juan' == "Juan"

True

In [ ]:
'Juan said: "Yeah"' == "Juan said: \"Yeah\""

True

In [ ]:
"Juan's sisters" == 'Juan\'s sisters'

True

In [ ]:
'I feel \U0001F604'

'I feel ðŸ˜„'

#### String interpolation

The easiest way to dynamically insert variables into strings is through string interpolation. The syntax is `f "....{var1}...{var2}"`.

In [ ]:
juans_height = 1.70
num_siblings = 2 

f"Juan is {juans_height} meters tall and has {num_siblings} brothers and sisters"

'Juan is 1.7 meters tall and has 2 brothers and sisters'

Precision can also be specified with the syntax `... {var:.#f} ...`, where `#` is the number of decimal digits.

In [ ]:
f"Juan is {juans_height:.2f} meters tall"

'Juan is 1.70 meters tall'

In [ ]:
luisas_height = 1.60
f"Juan is { round( (juans_height - luisas_height)* 100 )  } cm taller than Luisa"

'Juan is 10 cm taller than Luisa'

In [ ]:
"Juan is {jh} meters tall and has {ns} brothers and sisters".format( jh= juans_height, ns=num_siblings  )

'Juan is 1.7 meters tall and has 2 brothers and sisters'

The following gives the same output, although is not as efficient:

In [ ]:
"Juan is " + str(juans_height) + " meters tall and has " + str(num_siblings) + " brothers and sisters"

'Juan is 1.7 meters tall and has 2 brothers and sisters'

A string can also contain special codes like newline (`\n`) and tab (`\t`):

In [ ]:
a_str = f"Juan is {juans_height} meters tall\n\tand has {num_siblings} brothers\nand sisters"
print( a_str )

Juan is 1.7 meters tall
	and has 2 brothers
and sisters

#### String indexing

Python strings are character strings, and each character resides in an index starting at $0$ (for the first character) and ending at $ length -1 $ (for the last character).

|G|r|o|u|p|
|-|-|-|-|-|
|0|1|2|3|4|
|-|-|-|-|-|
|-5|-4|-3|-2|-1|

In [ ]:
phrase = "Juan's height u"

In [ ]:
print("First character: ", phrase[0])
print("Last character: ", phrase[-1])

First character:  J
Last character:  u

In [ ]:
print(type(phrase[0]))

<class 'str'>

Strings are immutable:

In [ ]:
phrase[1] = 'o'

TypeError: 'str' object does not support item assignment

If you want to change the value of a character in a string, you must use the proper functions of the `str` object:

In [ ]:
str.replace(phrase,'u','o')

"Joan's height o"

In [ ]:
phrase

"Juan's height u"

In [ ]:
phrase = str.replace(phrase,'u','o')
print(phrase)

Joan's height o

If you want to know the size of the character string, use the `len(<string>)` method:

In [ ]:
len(phrase)

15

If you want to know if a character is in a character's string, use the `in` operator.

In [ ]:
'a' in phrase

True

#### String slicing

**Slicing** in Python is a powerful way to extract sub-parts of a string, lists, and tuples:

```
str[start:end]
````

`start` specifies where the sub-string starts, and `end` where it ends (excluding the element at the `end` index).

|G|r|o|u|p|
|-|-|-|-|-|
|0|1|2|3|4|

```python
word = "Group"
print(word[0:2])
```
|G|r|
|-|-|
|0|1|

In [ ]:
word = "Group"
print(word[0:2])

Gr

In [ ]:
# Sub-string from starting position, 4 characters.
print(word[0:4])

Grou

In [ ]:
# Exactly the same as above, only 0 is the implicit starting index
print(word[:4])

Grou

In [ ]:
# Substring from the fourth character to the end
print(word[4:])

p

In [ ]:
# Substring from character at position 1 to character at position 4
print(word[1:4])

rou

In [ ]:
# Substring with negative index, -1 is the final implicit index.
print(word[-3:])

oup

In [ ]:
# Substring with negative index
print(word[-4:-1])

rou

### List management

There are also a number of things we can do with lists:

In [ ]:
list = [1,2.5,'Group',[1,2],10,'Group']

In [ ]:
print("First item in the list: ",list[0])
print("Last item in the list: ",list[-1])

First item in the list:  1
Last item in the list:  Group

In [ ]:
# Get the element from position 3
print(list[3])

[1, 2]

If position 3 is a list, then we can access the elements of said list as follows:

In [ ]:
# Get element of position 3, get element 1 of this list
print(list[3][1])

2

In [ ]:
# Get the elements from position 1 to 3
print(list[1:3])

[2.5, 'Group']

In [ ]:
# Add an item to the list
list.append('New')
print(list)

[1, 2.5, 'Group', [1, 2], 10, 'Group', 'New']

In [ ]:
# Extend allows adding elements but when adding a list each element of this is added as one more element within the other list
list.extend(['Element',45])
print(list)

[1, 2.5, 'Group', [1, 2], 10, 'Group', 'New', 'Element', 45]

In [ ]:
# Insert an element at the given position
list.insert(3,1)
print(list)

[1, 2.5, 'Group', 1, [1, 2], 10, 'Group', 'New', 'Element', 45]

In [ ]:
# Remove an item from the list
list.remove(10)
print(list)

[1, 2.5, 'Group', 1, [1, 2], 'Group', 'New', 'Element', 45]

In [ ]:
# Returns the index number of the element passed to it by parameter
print(list.index('Group'))

2

In [ ]:
# Returns the element at the given position in the list and removes it
print(list.pop(2))
print(list)

Group
[1, 2.5, 1, [1, 2], 'Group', 'New', 'Element', 45]

In [ ]:
# Returns how many times an element of a list is repeated
print(list.count('Group'))

1

In [ ]:
# Invert the elements of a list
list.reverse()
print(list)

[45, 'Element', 'New', 'Group', [1, 2], 1, 2.5, 1]

In [ ]:
help(list.reverse())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).

In [ ]:
# Lists are mutable
list[0] = 3
print(list)

[3, 2.5, 1, [1, 2], 'Group', 'New', 'Element', 45]

In [ ]:
3 in list

True

### Dictionary management

Contrary to lists, dictionaries have no implicit order. They are created by putting their elements in braces (`{"a": "Alicante","b": "Barcelona"}`). Keys are called the **words** and values the **definitions**. Logically, there cannot be two equivalent keys, but there can be two equal values:

In [ ]:
dictionary = {'Pilot 1':'Fernando Alonso', 
               'Pilot 2':'Kimi Raikkonen', 
               'Pilot 3':'Felipe Massa'}
print(dictionary)

{'Pilot 1': 'Fernando Alonso', 'Pilot 2': 'Kimi Raikkonen', 'Pilot 3': 'Felipe Massa'}

In [ ]:
# Returns the value that corresponds to the key entered
print(dictionary.get('Pilot 1'))
print(dictionary['Pilot 1'])

Fernando Alonso
Fernando Alonso

In [ ]:
# Returns the value that corresponds to the entered key, and then deletes the key and value
print(dictionary.pop('Pilot 1'))
print(dictionary)

Fernando Alonso
{'Pilot 2': 'Kimi Raikkonen', 'Pilot 3': 'Felipe Massa'}

In [ ]:
# Updates the value of a certain key or creates it if it doesn't exist
dictionary.update({'Pilot 4':'Lewis Hamilton'})
dictionary.update({'Pilot 2':'Sebastian Vettel'})
print(dictionary)

{'Pilot 2': 'Sebastian Vettel', 'Pilot 3': 'Felipe Massa', 'Pilot 4': 'Lewis Hamilton'}

In [ ]:
dictionary['Pilot 5'] = 'Juan Perez'
print(dictionary)

{'Pilot 2': 'Sebastian Vettel', 'Pilot 3': 'Felipe Massa', 'Pilot 4': 'Lewis Hamilton', 'Pilot 5': 'Juan Perez'}

In [ ]:
# "key" in dictionary: returns true (True) or false (False) if the key exists in the dictionary
print ("Pilot 2" in dictionary)
print ("pilot 1" in dictionary)
print ("Sebastian Vettel" in dictionary)

True
False
False

In [ ]:
# "definition" in dictionary.values (): returns true (True) or false (False) if the definition exists in the dictionary
print ("Sebastian Vettel" in dictionary.values())

True

In [ ]:
# del dictionary['key']: Eliminates the value (and the key) associated with the indicated key.
del dictionary['Pilot 2']
print(dictionary)

{'Pilot 3': 'Felipe Massa', 'Pilot 4': 'Lewis Hamilton', 'Pilot 5': 'Juan Perez'}

### Tuples handling

Tuples are immutable - once created, neither their content nor their size can be changed:

In [ ]:
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9,10)

In [ ]:
# Concatenate tuples
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# Repeat tuples
print(tuple1 * 3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
# Validate if an element is in the tuple
print(7 in tuple1)
print(7 in tuple2)

False
True

In [ ]:
# Returns the index of the element
print(tuple1.index(5))

4

In [ ]:
# Returns how many times is a repeated element
tuple4 = (65,67,5,67,34,76,67,231,98,67)
print(tuple4.count(67))

4

In [ ]:
# Indexing
print(tuple4[4])
print(tuple4[-4])
print(tuple4[:4])
print(tuple4[5:])
print(tuple4[-6:-2])
print(tuple4[3:6])

34
67
(65, 67, 5, 67)
(76, 67, 231, 98, 67)
(34, 76, 67, 231)
(67, 34, 76)

## User-defined functions

You can define your own functions in Python using the `def` statement:

In [ ]:
def myFunction():
    print("Hello World")

In [ ]:
myFunction()

Hello World

In [ ]:
output = myFunction()
print(output)

Hello World
None

You'll notice that `myFunction()` doesn't give any output despite printing "Hello World". This is because it has not been instructed to **return** a value. This can be done using the `return` keyword, and the result can be assigned to a variable:

In [ ]:
def myFunction():
    return "Hello World"

In [ ]:
message = myFunction()
print(message)
print(myFunction())

Hello World
Hello World

Functions can also receive input parameters in order to do their job:

In [ ]:
def myFunction(first_name, last_name):
    return first_name + ' ' + last_name

In [ ]:
message = myFunction("Juan", "Perez")
print(message)

Juan Perez

Furthermore, these input parameters can be given default values:

In [ ]:
def myFunction(first_name, last_name, message = 'Hello'):
    return message + ' ' + first_name + ' ' + last_name

In [ ]:
message = myFunction("Juan","Perez")
print(message)

Hello Juan Perez

In [ ]:
message = myFunction("Juan","Perez","Bye")
print(message)

Bye Juan Perez

### Exercise 4:

Write a function that calculates a value according to the following formula:

$Q = sqrt ((2 * C) / H)$

where $C$ and $H$ are whole numbers. The function must return the value of $Q$.

**Hint:** In Python you can import libraries or packages using `import`. For this exercise, we should important the math library `math`. To use the `sqrt` method, simply write `math.sqrt(<number>)`.

In [ ]:
# Your code ...

### Exercise 5:

Write a function that calculates the area of a triangle:

$Area = (Base * Height) / 2$

where $Base$ and $Height$ are integers or real numbers. The function must return the value of $Area$.

In [ ]:
# Your code ...

### Exercise 6:

Write a function that receives as a parameter an integer and a list, it must add the number raised to the cube to the list and return the list with the new element.

In [ ]:
# Your code ...

## Sets in Python

Python has a `set` data type which allows us to work with sets and perform set operations on these variables. A **set** is an unordered collection of *distinct* values (e.g. (1, 2, 3} is a set but {1, 1, 2} is not). It is defined in braces (`{}`) and elements are separated with commas.

```python
c = {1,2,3}
```

In [ ]:
# Defining sets
c1 = {1, 2, 3, 4, 5, 6}
c2 = {2, 4, 6, 8, 10}
c3 = {1, 2, 3}
c4 = {4, 5, 6}

In [ ]:
# Union of sets
print(c1|c2)
print(c1|c2|c3)

{1, 2, 3, 4, 5, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}

In [ ]:
# The union can also be done with the method
print(c1.union(c2))

{1, 2, 3, 4, 5, 6, 8, 10}

In [ ]:
# Intersection of sets
print(c1 & c2)
print(c1 & c2 & c3 & c4)

{2, 4, 6}
set()

In [ ]:
# The intersection can also be done with the method
print(c1.intersection(c2, c3))

{2}

In [ ]:
# Difference of sets
print(c1 - c2)

{1, 3, 5}

In [ ]:
# Difference of sets with the method
print(c1.difference(c2))

{1, 3, 5}

In [ ]:
# Exclusive union
print(c1^c2)

{1, 3, 5, 8, 10}

In [ ]:
# Exclusive union with the method
print(c1.symmetric_difference(c2))

{1, 3, 5, 8, 10}

In [ ]:
z = 11
if  z > 10 and z == 0 :
    print("ok")
else:
    print("no")

no

In [ ]:
z = -6
if  z > 10 :   
    print( "This is big!!!")
elif z == 0 : 
    print( "z is Zero!!!")
elif z > -10 : 
    print( "z is between -10 and 10 but not zero")
else : 
    print( "z is probably negative. Who knows... computers are weird...")

z is between -10 and 10 but not zero